html{
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  
  ul,
  ol {
    padding: 0;
  }
  
  body,
  span,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
    font-size: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

  body{
      
    background-image: url(image/bg1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #2F2F2F;
  }


  .wrapper{
      background-color: rgba(47, 47, 47, .3);
      width: 100%;
    

  }

  .link{
      color:white;
      text-transform: uppercase;
      display: flex;
      justify-content: space-around;
    
       
  }
  
  .link_about:hover{
   transform: scale(1.1);
  }

  .main{
    height: 824px;  
  display: flex;
  justify-content: space-around;
  align-items: center;    

      
  }

  .main__title{
      max-width: 28%;
      height: auto;
      background: rgba(217, 217, 217, 0.5);
border-radius: 20px;
font-weight: 400;
font-size: 48px;
line-height: 78px;
color: #2F2F2F;
padding: 30px;
transition: all 0.3s ease;

  }
  .main__title:hover{
      transform: scale(1.1);
  }

  .main__title_hi{
     color: white; 
  }

  .main__title_name{
      font-weight: 700;
      font-size: 56px;
      text-transform: uppercase;

  }

  .main__prof{
    
    max-width: 28%;
    height: auto;
    background: rgba(217, 217, 217, 0.5);
border-radius: 20px;
font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      transition: all 0.3s ease;
      padding: 30px;

  }

  .main__prof:hover{
    transform: scale(1.1);
  }

  .main__prof_front{
      color: #FFA84B;
      white-space: nowrap;
      text-transform: uppercase;
  }

  .main__prof_dev{
    
    text-transform: uppercase; 
  }

  .main__foto{
      max-height: 400px;
      transition: all 0.3s ease;
  }
  .main__foto:hover{
      transform: scale(1.1);
  }

  .info{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 80px;
  }

  .info__personal, .info__expertise{
      background-color: #F7F7F7;
      height: 600px;
      padding: 40px 60px;
  }

  .info__personal_title, .info__expertise_title{
color: #FFA84B;
font-size: 48px;
line-height: 56px;
font-weight: 400;
text-align: center;
margin-bottom: 73px;
  }

.info__personal_title-list{
      font-weight: 700;
  }

.info__about{
    background-color: #E2E2E2;
   
    height: 600px;
    padding: 40px 60px;
}


.info__personal_list{

font-size: 24px;
line-height: 48px;
}

.info__about_title{
    
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 73px; 
}

.info__expertise_list{

    vertical-align: middle;
    margin-bottom: 10px;
}
  
.resume{
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 3%;
    
}

.skills, .education, .languages{
    background-color: #ffffff;
    max-width: 450px;
    height: 700px;
    padding-top: 23px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 1px #2F2F2F;
    margin-bottom: 70px;
}

.skills__title, .education__title, .languages__title{
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    position: relative;
    margin-bottom: 66px;
    
}

.skills__title::before{
        content: '';
        position: absolute;
        background-image: url(./image/icon4.png);
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
}



.education__title::before{
    content: '';
    position: absolute;
    background-image: url(./image/icon5.png);
    top: 0;
    right: 0;
    width: 52px;
    height: 50px;
}
.languages__title::before{
    content: '';
    position: absolute;
    background-image: url(./image/icon6.png);
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
}

.slills__list{
    width: 20px;
    height: 20px;
    position: relative;
}

.skills__list-item{
    display: block;
    position: absolute;
   
    
}

.skills__img{
    margin-top: 46px;
    
}

.education__list{
    position: relative;
    
}
.education__list-item{
    position: relative;
    margin-bottom: 80px;
    margin-left: 50px;
    
}
.education__list::after{
    content: '';
    position: absolute;
    background-color: #BABABA;
    width: 1px;
    max-height: 378px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

.education__list-item::after{
    content: '';
    position: absolute;
    background-color: #FFA84B;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 12px;
    right: 0;
    bottom: 0;
    left: -60px; 
}

.projects{
    background: rgba(33, 33, 32, 0.9);
    width: 1127px;
    padding: 40px;
    margin: 0 auto 60px;
    
   
}

.projects__title{
color: #FFA84B;
font-size: 48px;
line-height: 56px;
font-weight: 400;
text-align: center;
margin-bottom: 20px;

}

.projects__desc{
    color: white;
    font-size: 24px;
    line-height: 48px;
    font-weight: 400;
    text-align: center;
}

pre{
    color: white;
    font-size: 20px;
    line-height: 30px;
}




  footer{
    background-color: rgba(47, 47, 47, .3);;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px;
  }

  .social{
      margin-left: 208px;
      width: 362px;
      display: flex;
      justify-content: space-between;
  }

  .logo-rss{
      margin-right: 215px;
  }